:root {
  --primary-icon-color: #afb1b8;
  --primary-color: #212121;
  --secondary-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --background-color-dark-grey: rgba(47, 48, 58, 0.8);
}

/*оформление главной страницы*/

body {
  background-color: #ffffff;
  color: var(--primary-color);
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
}

/* -----УТИЛИТЫ------ */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid skyblue; */
}

/* убирает стилизацию списков */
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* основное оформление ссылок */
.link {
  text-decoration: none;
}

.soc-link {
  display: flex;
}

/* оформляет заголовки секций */
.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  margin-top: 0px;
  padding: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* основные стили кнопки */
.button {
  background-color: var(--accent-color);
  color: var(--white-color);

  display: inline-block;
  vertical-align: middle;

  cursor: pointer;

  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* оформляет хедер */

.page-header > .container,
.page-header .main-nav,
.page-header .nav-list,
.page-header .contact-list {
  display: flex;
  margin-bottom: 0px;
}

/* оформляет логотип */
.site-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--primary-color);

  margin-right: 80px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.site-logo span {
  color: var(--accent-color);
}

/* оформляет навигацию */
.page-header .link {
  position: relative;
  display: inline-block;
  padding-top: 33px;
  padding-bottom: 33px;

  color: var(--primary-color);

  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.link.current {
  color: var(--accent-color);
}

.link.current::after {
  content: '';
  position: absolute;
  opacity: 1;
  display: block;
  bottom: 0;
  cursor: pointer;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  background-size: auto;
  border-radius: 2px;
}

.main-nav .item:not(:last-child) {
  margin-right: 52px;
}

/* оформляет контакты */
.page-header .contact-list {
  margin-left: auto;
}

.contact-list .item + .item {
  margin-left: 30px;
}

.page-header .contact {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-contact {
  fill: currentColor;
  margin-right: 10px;
  padding-top: 2px;
}

.page-header .contact:hover,
.page-header .contact:focus {
  color: var(--accent-color);
}

/* оформлет основной банер (фон добавлен чтоб было видно слова белого цвета) */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-color);

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../image/baner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 0px;
}

.hero .title {
  display: block;
  color: var(--white-color);

  margin-bottom: 46px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  padding: 10px 32px;
  font-weight: 700;
  font-style: normal;
  border: 0;
}

/* оформляет секцию преимуществ (оформляет логический заголовок, пока не знаю как его скрыть) */
.page-advantages .shadow {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-advantages .list {
  display: flex;
}
.page-advantages .item {
  width: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
}

.page-advantages .item:nth-child(4n) {
  margin-right: 0;
}

.icon-advantage {
  padding: 25px 100px 25px 100px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.page-advantages .adv-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.page-advantages .description {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03em;
}

/* оформляет секцию навыков */

.page-scils .list {
  display: flex;
}

.page-scils .item {
  position: relative;
  width: calc((100% - 2 * 30px) / 3);
}
.page-scils .item:not(:last-child) {
  margin-right: 30px;
}

.page-scils .photo {
  height: 294px;
  border-radius: 4px;
}

.page-scils > .title {
  margin-bottom: 50px;
}

.page-scils .description {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  text-align: center;
  border-radius: 0px 0px 4px 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
}

/* оформлет секцию команда */
.page-team {
  background-color: #f5f4fa;
}
.page-team .list {
  display: flex;
}
.page-team .photo {
  margin-bottom: 30px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.page-team .title {
  margin-bottom: 50px;
}
.team-list > .item {
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  border-radius: 4px;
  padding-bottom: 24px;

  width: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
}
.page-team .item:nth-child(4n) {
  margin-right: 0;
}

.page-team .name {
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.page-team .tech-scill {
  color: var(--secondary-color);

  text-align: center;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 0px;
}

.soc-link {
  padding-right: 32px;
  padding-left: 32px;
}

.soc-link > .item:not(:last-child) {
  width: calc((100% - 3 * 10px) / 4);
  margin-right: 10px;
}

.page-team .link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--primary-icon-color);

  transform: rotateZ(0deg);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-team .link:hover,
.page-team .link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);

  /* для красоты ради практики */
  transform: rotateZ(360deg);
}

.icon-link {
  fill: currentColor;
}

/* оформляет клиентов */
.page-clients .list {
  display: flex;
}

.page-clients .item {
  width: calc((100% - 5 * 30px) / 6);
}
.page-clients .item:not(:last-child) {
  margin-right: 30px;
}
.link-company {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  color: var(--primary-icon-color);

  transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-clients .link-company:hover,
.page-clients .link-company:focus {
  border-color: solid var(--accent-color);
  color: var(--accent-color);

  /* для красоты ради практики */
  transform: rotateY(360deg) rotateZ(360deg) rotateY(360deg);
}

.icon-company {
  fill: currentColor;
}

.page-clients .title {
  margin-bottom: 50px;
}

/* оформляет футер */
.footer-page {
  background-color: #2f303a;
}
.container-adress {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 48px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* оформляет адрес*/
.address .site-logo {
  color: var(--white-color);
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.address .city-adr {
  color: var(--white-color);

  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.address .contact {
  color: rgba(255, 255, 255, 0.6);

  display: inline-block;

  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address .item:not(:last-child) {
  margin-bottom: 9px;
}

/* оформляет форму подписки */

.social-link .join-in {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--white-color);
}
.footer-page .soc-link {
  padding: 0;
}
.footer-page .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page .link:hover,
.footer-page .link:focus {
  background-color: var(--accent-color);
}

/* оформляет подписку */
.footer-page .subscription {
  width: 570px;
}
.subscription .form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.form input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 12px;
  color: var(--secondary-color);
}
.subscription .join-in {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--white-color);
  text-transform: uppercase;

  margin-bottom: 20px;
}
.subscription .button {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 200px;
  display: flex;
  justify-content: left;
  align-items: center;

  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;

  overflow: hidden;
  border: 0em;
}

/* тут переход тоже для практики */

@keyframes fly-icon {
  0% {
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
  }

  25% {
    top: 0;
    right: 0;
    transform: translateY(0) rotate(0deg);
  }

  50% {
    top: 0;
    right: 0;
    transform: translateY(0) rotate(180deg);
  }

  75% {
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(180deg);
  }

  100% {
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(360deg);
  }
}

.icon-send {
  position: absolute;
  right: 18px;
  /* margin-left: 10px; */
  top: 50%;
  transform: translatey(-50%);

  /* transform: translate(0px, 0px);
  transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.subscription .button:hover .icon-send,
.subscription .button:focus .icon-send {
  animation-name: fly-icon;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* transform: translate(50px, -25px); */
}

.dev-team {
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.4);
}

/* оформляет страницу портфолио (оформляет логический заголовок, пока не знаю как его скрыть)*/

.page-portfolio .shadow {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio {
  padding-top: 93px;
  padding-bottom: 94px;
}
/* оформляет фильтр */
.filter-list {
  margin-bottom: 50px;
}

.filter-list .list {
  display: flex;
  justify-content: center;
}
.filter-button {
  color: var(--primary-color);
  background-color: #f5f4fa;

  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.filter-list .item + .item {
  margin-left: 8px;
}

.filter-button:hover,
.filter-button:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* оформляет примеры работ */

.page-portfolio .list {
  display: flex;
  flex-wrap: wrap;
}

.page-portfolio .item {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.page-portfolio .item:nth-child(3n) {
  margin-right: 0;
}
.page-portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.page-portfolio .item:hover,
.page-portfolio .item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.exemple-photo {
  position: relative;
  overflow: hidden;
}

.page-portfolio .exemple {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  height: 294px;
}

.exemple-description {
  border: 1px solid #eeeeee;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 20px 24px;
}

.page-portfolio .title {
  display: block;
  margin-bottom: 4px;
  margin-top: 0;

  color: var(--primary-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.page-portfolio .filter {
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-color);
}

.text {
  position: absolute;
  top: 0;
  opacity: 0;

  padding: 63px 24px 63px 24px;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 149, 243, 0.9);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 0;
  margin: 0;

  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transform: translateY(294px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-portfolio .item:hover .text,
.page-portfolio .item:focus .text {
  opacity: 1;
  transform: translateY(0px);
}

/* оформляет бекдроп */
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;

  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.backdrop .description {
  margin-bottom: 30px;
  margin-top: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.backdrop .form-field {
  display: block;
  position: relative;
}

.form-field .form-label {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);

  transition: transform 250ms linear;
}

.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-40px) translateX(-15px);
  color: var(--accent-color);
}

.backdrop .form-field:nth-child(-n + 4) {
  margin-bottom: 28px;
}

.backdrop .form-input {
  width: 100%;
  height: 38px;
  display: block;
  background-color: #fff;

  margin: 0;
  padding: 10px 20px;
  padding-left: 40px;
  font: inherit;

  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.backdrop .form-input:focus {
  border: 1px solid var(--accent-color);
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;

  transform: translateY(-50%);

  display: inline-block;
}

.form-field:focus-within > .icon {
  fill: var(--accent-color);
}

.comment {
  margin-bottom: 20px;
  height: 120px;
}

.backdrop textarea {
  padding: 10px 20px;
  padding-left: 16px;
  font: inherit;

  position: relative;
  width: 100%;
  height: 120px;

  resize: none;
  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.comment .form-label {
  position: absolute;
  top: 20px;
  left: 16px;

  transition: transform 250ms linear;
}

.backdrop textarea:focus {
  border: 1px solid var(--accent-color);
}

.form-comment:focus-within > .form-label,
.form-comment:not(:placeholder-shown) + .form-label {
  transform: translateY(-40px) translateX(-15px);
  color: var(--accent-color);
}

.field-polisy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.field-polisy .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field-polisy .icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  transition: transform 250ms linear;
}

.checkbox:checked + .icon-checkbox {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../image/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.checkbox-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.backdrop .close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.backdrop .button-submit {
  display: flex;
  justify-content: center;
}

.backdrop .button {
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
