$primary-icon-color: #afb1b8;
$primary-color: #212121;
$secondary-color: #757575;
$white-color: #ffffff;
$accent-color: #2196f3;
$background-color-secondary: #f5f4fa;
$background-color-dark-grey: rgba(47, 48, 58, 0.8);

$main-font: Roboto, sans-serif;

body {
  background-color: $white-color;
  color: $primary-color;
  letter-spacing: 0.03em;
  font-family: $main-font;
}

/* -----УТИЛИТЫ------ */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid skyblue; */
}

/* убирает стилизацию списков */
// .list {
//   list-style: none;
//   margin: 0px;
//   padding: 0px;
// }

/* основное оформление ссылок */
// .link {
//   text-decoration: none;
// }

// .soc-link {
//   display: flex;
// }

/* оформляет заголовки секций */
// .title {
//   text-align: center;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;

//   margin-top: 0px;
//   padding: 0px;
// }

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* основные стили кнопки */
// .button {
//   background-color: $accent-color;
//   color: $white-color;

//   display: inline-block;
//   vertical-align: middle;

//   cursor: pointer;

//   font-size: 16px;
//   line-height: 1.87;
//   text-decoration: none;
//   border-radius: 4px;
//   min-width: 200px;
//   min-height: 50px;
//   letter-spacing: 0.06em;
// }

img {
  display: block;
  max-width: 100%;
  height: auto;
}
